
/*FUENTES: light, regular and bold*/

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
    font-family: 'Open Sans', sans-serif;
}
.fondo-header {
    background-color: hsl(0, 0%, 85%);
    padding-top: 5vw;
}
#home {
    width: 2vw;
    height: 2vw;
    padding-left: 4vw;
    padding-right: 0.5vw;
}
.home {
    display: flex;
    border-left: black solid 0.1rem;
    align-items: center
}
.home>a {
    padding-left: 0;
}
nav {
    display: flex;
    background-color: hsl(0, 0%, 72%);
    padding-top: 1vw;
    padding-bottom: 1vw;
    justify-content: center;
}
nav a {
    border-right: black solid 0.1vw;
    font-size: 2.5vw; /*REUTILIZADO: se aplica a todos menos al desktop*/
    padding-right: 2vw;  /*REUTILIZADO: se aplica a todos menos al desktop*/
    padding-left: 2vw;  /*REUTILIZADO: se aplica a todos menos al desktop*/
}




@media screen and (min-width: 960px) {
    .logo-y-titulo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logo {
        width: 23rem;
    }
    .logo-y-titulo h1{
        font-size: 5rem;
    }
    .foto-presentacion img {
        max-width: 95vw;
    }
    .introduction,article {
        font-size: 1.5rem;
        padding: 1rem 3rem;
        text-align: justify;
    }
    article h1 {
        visibility: hidden;
    }
    /*.cuadrado-gris1 p, .cuadrado-gris2 p, .cuadrado-gris3 p, .cuadrado-gris4 p, .cuadrado-gris5 p {
        background-color: hsla(0, 0%, 72%, 0.8);
        padding: 2rem;
    }*/

}

@media (min-width: 480px) and (max-width: 960px) {
    .logo-y-titulo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logo {
        width: 15rem;
    }
    .logo-y-titulo h1{
        font-size: 3rem;
    }
    .foto-presentacion img {
        width: 0;
    }
    .introduction,article {
        font-size: 2rem;
        padding: 1rem 3rem;
        text-align: justify;
    }
    article h1 {
        visibility: hidden;
    }
    .cuadrado-gris1 p, .cuadrado-gris2 p, .cuadrado-gris3 p, .cuadrado-gris4 p, .cuadrado-gris5 p {
        background-color: hsla(0, 0%, 72%, 0.8);
        padding: 2rem;
    }
}

@media (min-width: 0) and (max-width: 480px) {
    .logo-y-titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #logo {
        width: 15rem;
    }
    .logo-y-titulo h1{
        font-size: 2.5rem;
        background-color: hsl(0, 2%, 62%, 0.4);
        padding: 1rem;
        text-align: center;
        text-transform: uppercase;
    }
    .foto-presentacion img {
        width: 0;
    }
    .introduction,article {
        font-size: 2.3rem;
        padding: 1rem 3rem;
        text-align: justify;
    }
    article h1 {
        background-color: hsl(0, 2%, 62%);
        padding: 1rem 2rem;
        color: hsl(0, 0%, 100%);
    }
}
