
/*FUENTES: light, regular and bold*/
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-stretch: 100%;
    src: url(../fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



/*TODA LA PÁGINA WEB*/
    body {
        font-family: 'Open Sans', sans-serif;
        margin: 0;
    }
    /*ENCABEZADO*/
    .fondo-header {
        background-color: hsla(0, 0%, 85%, 1);
        padding-top: 1vw;
    }
    /*MENÚ PRINCIPAL*/
    #home {
        width: 1.5vw;
        height: 1.5vw;
        padding-left: 4vw;
        padding-right: 0.5vw;
    }
    .home {
        display: flex;
        border-left: black solid 0.1rem;
        align-items: center
    }
    .home>a {
        padding-left: 0;
    }
    nav {
        display: flex;
        background-color: hsl(0, 0%, 72%);
        padding-top: 1vw;
        padding-bottom: 1vw;
        justify-content: center;
    }
    nav a {
        border-right: black solid 0.1vw;
        padding-right: 4vw;
        padding-left: 4vw;
        color: black;
        text-decoration: none;
    }
    a:hover, .home:hover {
        background-color: white;
        border-radius: 1vw;
        transition: 1s;
    }


    /*PIE DE PÁGINA*/
    .footer {
        background-color: hsl(0, 0%, 0%);
        color: hsl(0, 0%, 100%);
        align-items: center;
        justify-content: center;

    }
    .footer a{
        text-decoration: none;
        color: white;
        text-align: center;
    }
    .footer a:hover {
        background-color: white;
        color: black;
    }
    /*títulos fondo negro y letra blanca*/
    h2 {
        background-color: black;
        border-radius: 2rem;
        color: white;
        text-transform: uppercase;
        text-align: center;
        margin: 5vw;
    }




/*PÁGINA 1*/
    /*reflexión*/
    .reflexiones article, .reflexiones h1 {
        text-align: center;
    }
/*PÁGINA 2*/
/*PÁGINA 3*/
    /*títulos*/
    h4 {
        background-color: black;
        color: white;
        text-align: center;
    }
    .p-mis-intereses {
        text-align: justify;
        margin: 1rem 3rem;
    }
    .deseos-trabajo p {
        text-align: justify;
        padding: 1rem 2rem;
    }

/*PÁGINA 5*/
    .contenedor-gris {
        background-color: #9f9c9c;
        border-radius: 1rem;
        align-content: center;
        display: flex;
        justify-content: center;
        padding: 20vw 0;
        margin: 10vw;
    }
    .contenedor-gris img {
        width: 70vw;
    }




@media screen and (min-width: 960px) {
/*PÁGINA 1*/

    /*encabezado*/
    .logo-y-titulo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logo {
        width: 10rem;
    }
    .logo-y-titulo h1{
        font-size: 2rem;
    }

    /*menú principal*/
    nav a {
        font-size: 1.25vw;
    }

    /*fotografía principal*/
    .foto-presentacion img {
        max-width: 95vw;
    }

    /*descripción: articles*/
    .introduction,article {
        font-size: 1rem;
        text-align: justify;
        margin:2rem 6rem;
    }
    .cuadrado-gris1 p, .cuadrado-gris2 p, .cuadrado-gris3 p, .cuadrado-gris4 p, .cuadrado-gris5 p {
        background-color: hsla(0, 0%, 72%, 0.8);
        padding: 2rem;
        box-shadow: 1px 30px 33px rgba(0, 0, 0, 0.5);
    }


    article h1 {
        visibility: hidden;
        width: 0;
        position: absolute;

    }

    /*menú nº2*/
    .primera-fila, .segunda-fila{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        align-items: baseline;
        grid-column-gap: 3vw;
        padding: 3vw;

    }
    .columna img {
        width: 6rem;
    }
    .columna p {
        color: hsl(0, 0%, 100%);
    }
    .primera-fila a, .segunda-fila a{
        text-decoration: none;
    }
    .menu2 {
        background-color: hsl(0, 0%, 0%);
        margin-right: 25vw;
        margin-left: 25vw;
        border-radius: 5rem;
    }
    .columna:hover {
        background-color: black;
        border-radius: 1rem;
        border: 0.5rem solid white;
    }

    /*reflexión*/
    .reflexiones img {
        width: 50rem;
    }
    .reflexiones {
        margin-top: 4rem;
    }

    /*pie de página*/
    .footer{
        display: flex;
        flex-direction: row;
    }
    .linkedin, .gmail, .git {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 5vw;
    }
    .linkedin p, .gmail p, .git p {
        margin-left: 2vw;
    }


/*PÁGINA 2*/
    /*descripción con imagen*/
    .descripcion-sobre-mi {
        display: flex;
        flex-direction: row;
        border: solid black 0.1rem;
    }
    .descripcion-sobre-mi img {
        width: 18rem;
        background-color: black;
        padding: 2rem;
    }
    .descripcion-sobre-mi p {
        text-align: justify;
        margin: 4rem 2rem;
    }

    /*formación*/
    h2 {
        padding: 3rem;
        font-size: 3rem;
    }
    .formacion {
        display: flex;
        flex-direction: row;
    }
    .integracion-social {
        display: flex;
        flex-direction: column;
    }
    .integracion-social h3, .dinamizacion-actividades h3 {
        font-weight: bold;
    }
    .integracion-social img {
        width: 30rem;
        align-self: center;
        margin: 2rem 0;
    }
    .cronologia {
        text-align: center;
    }
    .cronologia img {
        width: 90vw;
    }

/*PÁGINA 3*/
    /*titulos*/
    h4 {
        margin: 5vw 5vw;
        padding: 2rem;
        font-size: 2rem;
    }
    h5 {
        color: white;
        text-align: center;
    }
    .deseos-trabajo {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .circulo {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 2rem;
    }
    .circulo > p {
        font-family: sans-serif;
        color: white;
        font-size: 1rem;
        font-weight: bold;
    }
    .deseos-trabajo p {
        background-color: #9f9c9c;
        margin: 1rem;
    }
    .empresa-y-foto {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    .que-busco-de-empresa {
        margin: 2rem;
    }
    .que-busco-de-empresa p {
        text-align: justify;
        margin: 2rem 4rem;
    }
    .que-busco-de-empresa img {
        width: 20rem;
        display: block;
        margin: auto;
    }

    /*PÁGINA 4*/
    .proyecto1y2, .proyecto3y4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }
    .proyecto1y2 img, .proyecto3y4 img {
        width: 30vw;
    }

    /*PÁGINA 5*/
    .contenedor-gris{
        padding: 2rem;
    }
    .rectangulo p {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 2rem;
    }

    .descargar-cv {
        display: flex;
        flex-direction: column;
        background-color: #9f9c9c;
        border-radius: 4vw;
        align-items: center;
        margin: 4rem;
        width: 50rem;

    }
    .pdf-cv img {
        margin: 4vw;
    }
    .flecha {
        background-color: black;
        border-radius: 2rem;
        color: white;
    }




}

@media (min-width: 480px) and (max-width: 960px) {
/*PÁGINA 1*/

    /*encabezado*/
    .logo-y-titulo {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #logo {
        width: 10rem;
    }
    .logo-y-titulo h1{
        font-size: 2rem;
    }

    /*menú principal*/
    nav a {
        font-size: 1.5vw;
    }

    /*imagen principal*/
    .foto-presentacion img {
        width: 0;
    }

    /*descripción: articles*/
    .description-home article {
        font-size: 1.5rem;
        padding: 1rem;
        text-align: justify;
    }
    article h1 {
        text-align: center;
    }
    .cuadrado-gris1 p, .cuadrado-gris2 p, .cuadrado-gris3 p, .cuadrado-gris4 p, .cuadrado-gris5 p {
        background-color: hsla(0, 0%, 72%, 0.8);
        padding: 2rem;
    }

    /*menú nº2*/
    .primera-fila, .segunda-fila{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        text-align: center;
        align-items: baseline;
        grid-column-gap: 3vw;
        padding: 3vw;

    }
    .columna img {
        width: 6rem;
    }
    .columna p {
        color: hsl(0, 0%, 100%);
    }
    .menu2 {
        background-color: hsl(0, 0%, 0%);
        margin-right: 15vw;
        margin-left: 15vw;
        border-radius: 5rem;
    }

    /*reflexión*/
    .reflexiones img {
        width: 95vw;
    }

    /*pie de página*/
    .linkedin, .gmail, .git {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .linkedin p, .gmail p, .git p {
        font-size: 2.5vw;
        padding-left: 2vw;
    }
    .linkedin img, .gmail img, .git img {
        width: 8vw;
    }

/*PÁGINA 2*/
    /*descripción sin imagen*/
    .descripcion-sobre-mi {
        background-color: black;
        padding: 1rem 2rem;
    }
    .descripcion-sobre-mi img {
        width: 0;
        visibility: hidden;
    }
    .descripcion-sobre-mi p {
        color: white;
        text-align: justify;
        margin: 0 3rem 3rem 3rem;
    }

    /*títulos fondo negro letra blanca*/
    h2 {
        padding: 2rem;
        font-size: 2rem;
    }
    .integracion-social img {
        width: 0;
        visibility: hidden;
    }
    .integracion-social, .dinamizacion-actividades, .trabajo-social, .monitora, .TIS {
        text-align: justify;
        margin: 2rem 4rem;
    }
    .cronologia img {
        width: 90vw;
    }
    .cronologia {
        text-align: center;
    }
/*PÁGINA 3*/
    /*titulos*/
    h4 {
        margin: 8vw 5vw;
        padding: 2rem;
        font-size: 2rem;
    }
    h5 {
        color: white;
        background-color: black;
        text-align: center;
        font-size: 1rem;
        padding: 1rem;
        margin: 0 10vw;
        border-radius: 0.5rem;
    }
    .deseos-trabajo {
        background-color: rgba(159, 156, 156, 0.4);
        border-radius: 1rem;
        margin: 10vw;
        padding: 1rem;
    }
    .que-busco-de-empresa p {
        text-align: justify;
        margin: 2rem 4rem;
    }
    .que-busco-de-empresa img {
        width: 20rem;
        display: block;
        margin: auto;
    }

/*PÁGINA 4*/
    /*PÁGINA 4*/
    .proyecto1y2, .proyecto3y4 {
        text-align: justify;
        margin: 2rem 4rem;
    }
    .proyecto1y2 img, .proyecto3y4 img {
        width: 30vw;
        display: block;
        margin: auto;
    }
    .proyecto1y2 article, .proyecto3y4 article {
        background-color: #9f9c9c;
        padding: 1rem;
        border-radius: 2rem;
        margin: 2rem;
    }

/*PÁGINA 5*/

    .flecha {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .rectangulo {
        width: 40vw;
        height: 12vw;
        background: white;
        margin-right: 0;
    }
    .rectangulo p {
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 4vw;


    }
    .triangulo {
        width: 0;
        height: 0;
        border-left: 15vw solid white;
        border-top: 12vw solid transparent;
        border-bottom: 12vw solid transparent;
        margin-left: 0;
    }
    .descargar-cv {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #9f9c9c;
        margin: 5vw;
        border-radius: 4vw;
    }
    .pdf-cv img {
        margin: 4vw;
    }
}

@media (min-width: 0) and (max-width: 480px) {
/*PÁGINA 1*/
    /*encabezado*/
    .logo-y-titulo {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #logo {
        width: 5rem;
    }
    .logo-y-titulo h1{
        font-size: 1rem;
        text-align: center;
        text-transform: uppercase;
    }

    /*menú principal*/
    nav a {
        font-size: 1.75vw;
    }

    /*foto principal*/
    .foto-presentacion img {
        width: 0;
    }

    /*descripción: articles*/
    .introduction,.description-home article {
        font-size: 1rem;
        text-align: justify;
        background-color: hsla(0, 2%, 62%, 0.41);
        margin: 1rem 3rem;
        padding: 1rem;
    }
    article h1 {
        background-color: hsl(0, 2%, 62%);
        color: hsl(0, 0%, 100%);
        text-align: center;
        text-transform: uppercase;
        font-size: 7vw;
    }

    /*menú nº2*/
    .menu2 {
        display: flex;
        flex-direction: column;
    }
    .columna {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #b7b7b7;
        padding: 1.5rem;
        margin: 1rem;
        background-color: black;
        border-radius: 10rem;
    }
    .columna img {
        width: 5rem;
        padding-right: 2rem;
    }

    /*reflexión*/
    .reflexiones h1 {
        text-align: center;
    }
    .reflexiones article {
        background-color: white;
    }
    .reflexiones img {
        width: 75vw;
    }

    /*pie de página*/
    .linkedin, .gmail, .git {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .linkedin p, .gmail p, .git p {
        font-size: 0.5rem;
        padding-left: 2vw;
    }
    .linkedin img, .gmail img, .git img {
        width: 2rem;
    }

/*PÁGINA 2*/
    /*descripción sin imagen*/
    .descripcion-sobre-mi {
        background-color: black;
    }
    .descripcion-sobre-mi img {
        width: 0;
        visibility: hidden;
    }
    .descripcion-sobre-mi p {
        color: white;
        text-align: justify;
        margin: 0 2rem 2rem 2rem;
    }

    /*títulos fondo negro letra blanca*/
    h2 { /*ARREGLAR!! DESPUES DE CRONOLOGIA*/
        padding: 1rem;
        font-size: 1rem;
    }

    .integracion-social img {
        width: 0;
        visibility: hidden;
    }

    .cronologia {
        width: 0;
        visibility: hidden;
        display: none;
    }

/*PÁGINA 3*/
    /*títulos*/
    h4 {
        font-size: 1rem;
        padding: 1rem;
    }
    h5{
        background-color: hsl(0, 2%, 62%);
        color: hsl(0, 0%, 100%);
        text-align: center;
        text-transform: uppercase;
        font-size: 7vw;
    }
    .deseos-trabajo {
        background-color: rgba(159, 156, 156, 0.3);
        margin: 2rem;
    }
    .que-busco-de-empresa p {
        text-align: justify;
        margin: 2rem 4rem;
    }
    .que-busco-de-empresa img {
        width: 0;
        visibility: hidden;
    }


/*PÁGINA 4*/
    /*PÁGINA 4*/
    .proyecto1y2, .proyecto3y4 {
        text-align: justify;
    }
    .proyecto1y2 img, .proyecto3y4 img {
        width: 0;
        visibility: hidden;
    }
    .proyecto1y2 article, .proyecto3y4 article {
        padding: 1rem;
        border-radius: 2rem;
        margin: 2rem;
    }

/*PÁGINA 5*/
    .flecha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .rectangulo {
        width: 8vw;
        height: 15vw;
        background: white;
        margin-top: 1rem;
    }
    .rectangulo p {
        visibility: hidden;
    }
    .triangulo {
        width: 0;
        height: 0;
        border-left: 8vw solid transparent;
        border-top: 10vw solid white;
        border-right: 10vw solid transparent;
        margin-left: 0;
    }
    .descargar-cv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: #9f9c9c;
        margin: 10vw;
        border-radius: 4vw;
    }
    .pdf-cv {
        text-align: center;
    }
    .pdf-cv img {
        margin: 4vw;
        width: 20vw;
    }




}
