.caja1 {
    background-color: hsl(39, 100%, 50%);
}
.caja2 {
    background-color: hsl(0, 0%, 50%);
}
.caja3 {
    background-color: hsl(120, 67%, 57%);
}
.caja4 {
    background-color: hsl(201, 83%, 56%);
}
.caja5 {
    background-color: white;
    border: hsl(236, 17%, 66%) 0.5rem solid;
}

#id>artice {

}