@font-face {
    font-family: InterTight-Black;
    src: url("fonts/Asap-Regular.ttf");
}


article {
    margin: 2rem 5rem 2rem 5rem;
}
header {
    background-color: hsla(181, 92%, 32%, 0.76);
    border-radius: 2rem;
    display: flex;
    gap: 10rem;
    align-items: center;
    margin-bottom: 1rem;
}

h1 { /*título*/
    font-size: xxx-large;
    color: white;
    margin-left: 10rem;
    font-family: Asap-Regular, serif;
}


.logotipo {
    width: 15rem;
    justify-content: flex-start;

}

nav {
    background-color: hsl(34, 78%, 91%);
    border-radius: 2rem;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    display:inline-block;


}

nav>ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
nav>ul>li {
    padding-left: 6rem;
    padding-right: 6rem;
    color: white;
    margin: 0 .75rem;
}
a {
    text-decoration:none;
    color: hsl(0, 0%, 0%);
    font-size: 2rem;
}
a:hover {
    color: hsla(181, 92%, 32%, 0.76);
    background-color: hsl(0, 0%, 100%);
    padding: 1rem 3rem;
}

h2 {
    background-color: hsl(34, 78%, 91%);
    border-radius: 2rem;
    padding: 1rem;
}

.lista-numeros {
    margin-left: 2rem;
}
h4 {
    text-align: center;
}
.foto-texto {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.descripcion-clase {
    width: 25rem;
    border-radius: 2rem;

}
.caja-baja {
    background-color: hsl(0, 2%, 80%);
    border-radius: 2rem;
    margin: 0.3rem;
    padding: 4rem;

}
.descripcion{
    text-align: justify;
    padding: 1rem;
}
.foto-texto {
    background-color: hsl(0, 2%, 80%);
    border-radius: 2rem;

}

h1, h2, h4, h5 {
    font-family: 'InterTight-Black.ttf', sans-serif; /*no va*/
}
h5 {
    font-size: 1.25rem;
}

.footer {
    text-align: center;
    padding-top: 5rem;
    color: gray;
    background-color: hsl(0, 2%, 62%);
    color: hsl(0, 0%, 100%);
    padding-bottom: 4rem;
    margin-top: 1rem;
    border-radius: 1.5rem;

}
