* {
    margin: 1rem;
    padding: 1rem;
    text-transform: uppercase;
    color: black;
}

@media (min-width: 1024px) {

    .cabecera {
        display: grid;
        grid-template-columns: 20% auto 20%;
        text-align: center; /*centrar texto*/
        align-items: center; /*centrar items en grid*/
        background-color: hsl(218, 51%, 52%);
    }

    header > img {
        max-width: 10.25rem;
    }

    nav {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        text-align: center;
        background-color: hsl(45, 97%, 70%);
    }

    .Scroll {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        text-align: center;
        background-color: hsl(219, 50%, 80%);
    }

    aside {
        background-color: #e6e5e5;
        text-align: center;
        padding-top: 25%;
    }

    .aside-imagenes {
        display: grid;
        grid-template-columns: 20% auto;
    }

    .imagenes {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
        text-align: center;
    }

    .imagenes > article {
        border: solid;
        margin: 0;
    }

    footer {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        background-color: hsl(218, 51%, 52%);
        align-items: center;
        text-align: center;
    }

}

@media (max-width: 1024px) and (min-width: 480px) {

    .cabecera {
        display: grid;
        grid-template-columns: 20% auto 20%;
        text-align: center; /*centrar texto*/
        align-items: center; /*centrar items en grid*/
        background-color: hsl(218, 51%, 52%);
    }

    header > img {
        max-width: 10.25rem;
    }

    nav {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        text-align: center;
        background-color: hsl(45, 97%, 70%);
    }

    .Scroll {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        text-align: center;
        background-color: hsl(219, 50%, 80%);
    }

    aside {
        background-color: #e6e5e5;
        text-align: center;
        padding-top: 25%;
    }

    .aside-imagenes {
        display: grid;
        grid-template-columns: 20% auto;
    }

    .imagenes {
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        align-items: center;
        text-align: center;
    }

    .imagenes > article {
        border: solid;
        margin: 0;
    }

    footer {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        background-color: hsl(218, 51%, 52%);
        align-items: center;
        text-align: center;
    }

}

@media (max-width: 480px) {

    .cabecera {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        text-align: center;
    }

    h1 {
        background-color: hsl(218, 51%, 52%);
        font-size: small;
    }

    a {
        background-color: hsl(45, 97%, 70%);
    }

    nav {
        display: grid;
        grid-template-columns: 100%;
        align-items: center;
        text-align: center;
        background-color: hsl(45, 97%, 70%);
    }

}